<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zty.therapist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.personal.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.activity.task.TaskDetailsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.home.LearnActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.home.ClassRoomActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.home.CommunityActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.home.GroupActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.home.HelpActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.home.InfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.home.PublishActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.order.OrderDoctorActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.personal.UserMessageActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.personal.MyOrderActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.personal.AccountActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.personal.MessageActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.order.BuyProductActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.personal.ConfirmPhoneActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.personal.SetPassWordActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.personal.ApplyActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.personal.DoctorOrderDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.personal.ProductOrderDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.home.SendInfoActivity"
            android:screenOrientation="portrait"></activity>


    </application>

</manifest>